* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://www.eluniversal.com.mx/sites/default/files/2020/03/31/como-hacer-fiesta-online.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contenedor {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contador {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

h2 {
  font-size: 45px;
}
